h3{
    color: #333;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}
/************************reserve************/
#reserve{
    margin-top: 80px;
}
#reserve .re_list{}
#reserve .re_list li{
    float: left;
    font-size: 0.9rem;
    text-align: center;
    color: #aaa;
    margin: 0 25px;
}

#reserve .re_list li:first-child{
    margin-left: 0;
}
#reserve .re_list li:last-child{
    margin-right: 0;
}
#reserve .re_list li img{
    width: 20px;
}
#reserve .re_list ul{
    text-align: center;
}
#reserve ul.re_list > li input{
    border: none;
    outline: 0;
    width: 35px;
    color: #534039;
    font-weight: 500;
    text-align: center;
}
#reserve .re_list li.button input{
    background-color: #534039;
    width: 140px;
    height: 55px;
    border: none;
    color: #fff;
}
#reserve ul.re_list > li:first-child input{
    width: 155px;
    color: #aaa;
}
#reserve ul.re_list > li:nth-child(2) input, #reserve ul.re_list > li:nth-child(4) input{
    width: 147px;
}
#reserve span.span_bar{
    width: 100%;
    height: 1px;
    background-color: #ccc;
    display: block;
    margin-top: 15px;
}
/**/
#reserve form{
    position:relative;
}
.kalendar_box {
    position:absolute;
    z-index:999;
    /*width:100%;*/
    background-color:#fff;
    top:50px;
    left: 100px;
    /**/display: none;
}
.kalendar_box > div{
    float:left;
}
#reserve .kalendar_box .kalendar_close{
    position:absolute;
    right: -50px;
    top:0;
    width:auto;
}
#reserve .kalendar_box .kalendar_close img{
    width: 50%;
    filter: invert(72%) sepia(3%) saturate(5%) hue-rotate(326deg) brightness(94%) contrast(89%);
}
/************************section1******************************/
#sec1{
    position: relative;
    margin-top: 80px;
}
#sec1::after{
    content: '';
    display: block;
    clear: both;
}
#sec1 ul.tabs{}
#sec1 ul.tabs li{
    position: absolute;
    top:0;
    left: 0;   
    width: 20%;
    height: 100%;
    float: left;
    color: #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;/*사이즈 자동정리 된다*/
    text-align: center;
}
#sec1 ul.tabs a{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;   
}

#sec1 ul.tabs a.active{ background-color: rgba(175, 141, 93,0.8);}
#sec1 ul.tabs li:nth-child(1){
    left: 0;
}
#sec1 ul.tabs li:nth-child(2){
    left: 20%;
}
#sec1 ul.tabs li:nth-child(3){
    left: 40%;
}
#sec1 ul.tabs li:nth-child(4){
    left: 60%;
}
#sec1 ul.tabs li:nth-child(5){
    left: 80%;
    border: none;
}

#sec1 .title{
    font-size: 1.8rem;
    padding-top: 180px;
}
#sec1 span{
    width: 60%;
    height: 2px;
    display: block;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 150px;
}
#sec1 .txt{
    margin-top: 30px;
}
#sec1 button{
    margin-top: 60px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 5px 10px;
    font-family: 'Noto Sans KR', sans-serif;
}
#sec1 .padding{
    padding: 165px 0;
}
#sec1 .panel{
    display: none;
}
#sec1 .panels img{
    width: 100%;
}


/*********************section2****************************/
#sec2{
    background-color: #efefef;
    /**/height: 900px;
    position: relative;
}
#sec2 .inner{
    max-width: 1600px;
}
#sec2 .inner:after{
    content:'';
    display: block;
    clear: both;
}
#sec2 ul{
    float: left;
    margin-top: 150px;
}
#sec2 ul > li{
    float: left;
    box-sizing: border-box;
    width: 330px;
    height: 570px;
    background-color: #ffffff;
    margin-left: 20px;
    position: relative;
    transition: 1s;
}
#sec2 ul > li:first-child{
    margin-left:0;
}
#sec2 ul > li a{
    display: block;
    margin-left: 40px;
    margin-top: 10px;
}
#sec2 ul > li>.title{
    color: #333;
    font-size: 2rem;
    margin: 20px 0 0 40px;
    font-weight: 300;
}
#sec2 ul > li>.text{
    position: absolute;
    bottom: 100px;
}
#sec2 ul > li img{
    width: 60px;
    margin: 100px 0 0 40px;
}
#sec2 ul > li:nth-child(2) img{
    margin-top: 110px;
}*/
#sec2 ul > li:hover{
    transform: translateY(-10px);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
/**/
#sec2 .petel{
    float: right;
    text-align: right;
    margin-top: 300px;
}
#sec2 .petel > .title{
    font-size: 4.3rem;
    font-weight: 300;
    color: #333;
}
#sec2 .petel > .text{
    font-size: 1.8rem;
   /* text-align: right;*/
    margin-bottom: 120px;
}
#sec2 .btn1{
    color: #333;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 0;
    border: 1px solid #333;
    position:relative;
    box-sizing: border-box;
    width:90px;height:37px;
    text-align: center;line-height: 37px;
    display: inline-block;
    overflow: hidden;
}
#sec2 .btn1 .caption0{transition: 0.5s;}
#sec2 .btn1:hover{border-color:#AF8D5D;transition: 1s;}
#sec2 .btn1:hover .caption0{
   opacity:0;
}

#sec2 .btn1:before{
    content: '';
    display: block;
    border-radius: 0;
    background-color: #AF8D5D;
    position: absolute;
    left:-1px;bottom:-37px;
    width:92px;height:37px;
    text-align: center;line-height: 37px;
}
#sec2 .btn1:hover:before{bottom:-1px;transition: 1s;}
#sec2 .btn1 .caption{
    position: absolute;
    left:-1px;bottom:-37px;
    width:90px;height:37px;
    text-align: center;line-height: 37px;
    color: #fff;
    opacity:0;
}
#sec2 .btn1:hover .caption{
    bottom: -1px;
    opacity:1;
    transition: 1s 0.5s;
}
/******mo_sec3*******************************/
#mo_sec3{
    margin-top: 80px;
    display: none;
}
#mo_sec3 .inner{
    position: relative;
}
#mo_sec3 h2{
    color: #333;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}
#mo_sec3 span.bar{
    display: block;
    width: 40px;
    height: 1px;
    margin: 0 auto;
    background-color: #333;
    margin-top: 10px;
}
#mo_sec3 .package img{
    width: 100%;
}
#mo_sec3 .package li .package_box{
    color: #333;
    background-color: rgba(250,250,250);
    width: 100%;
    text-align: center;
    height: 60px;
    box-sizing: border-box;
    transition: 0.5s;
    font-size: 0.95rem;
    padding-top: 5px;
}
#mo_sec3 .package_box span{
    font-size: 0.8rem;
    color: #666;
    transition: 0.5s;
}
#mo_sec3 .package li:hover .package_box{
    background-color: rgba(175, 141, 93);
    color:#fff;
}
#mo_sec3 .package li:hover .package_box span{color:#fff;}
/*********************section3****************************/
#sec3{
    margin-top: 80px;
}
#sec3 .inner{
    position: relative;
}
#sec3 .inner::after{
    content: '';
    display: block;
    clear: both;
}
#sec3 h2{
    color: #333;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
}
#sec3 span.bar{
    display: block;
    width: 50px;
    height: 2px;
    margin: 0 auto;
    background-color: #333;
    margin-top: 10px;
}
#sec3 .package:after{content: '';display:block;clear: both;}
#sec3 .package{
    margin-bottom: 85px;
}
#sec3 .package li{
    float: left;
    width: calc((100% - 70px)/3);
    margin-right: 35px;
    position: relative;
}
#sec3 .package li:last-child{
    margin-right: 0;
}

#sec3 .package img{
    width: 100%;
}
#sec3 .package li .package_box{
    color: #333;
    padding: 30px;
    background-color: rgba(250,250,250,0.9);
    width: 80%;
    text-align: center;
    position: absolute;
    bottom: -55px;
    height:110px;
    box-sizing: border-box;
    left: 39px;
    transition: 0.5s;
}
#sec3 .package_box span{
    font-size: 0.9rem;
    color: #666;
    transition: 0.5s;
}
#sec3 .package li:hover .package_box{
    background-color: rgba(175, 141, 93,0.8);
    bottom: calc(50% - 55px);
    color:#fff;
}
#sec3 .package li:hover .package_box span{color:#fff;}
/**********sec4****************/
#sec4{
    margin-bottom: 100px;
}
#sec4 .inner{
    position: relative;
}
#sec4 .inner::after{
    content: '';
    display: block;
    clear: both;
}
#sec4 .promotion a{
    float: left;
    width: calc((100% - 70px)/3);
    margin-right: 35px;
}
#sec4 .promotion a:last-child{
    margin-right: 0;
}
#sec4 .promotion img{
    width: 100%;
}
#sec4 .promotion_box1 a{
    color: #333;
    padding: 30px;
    background-color: #fff;
    width: 20%;
    text-align: center;
    position: absolute;
    bottom: -40px;
    left: 39px;
    opacity: 0.9;
}
#sec4 .promotion_box2 a{
    color: #333;
    padding: 30px;
    background-color:#fff;
    width: 20%;
    text-align: center;
    position: absolute;
    bottom: -40px;
    left: calc(50% - 147px);
    opacity: 0.9;
}
#sec4 .promotion_box3 a{
    color: #333;
    padding: 30px;
    background-color: #fff;
    width: 20%;
    text-align: center;
    position: absolute;
    bottom: -40px;
    right: 39px;
    opacity: 0.9;
}
#sec4 .promotion_box1 span{
    font-size: 0.9rem;
    color: #666;
}
#sec4 .promotion_box2 span{
    font-size: 0.9rem;
    color: #666;
}
#sec4 .promotion_box3 span{
    font-size: 0.9rem;
    color: #666;
}

#sec4 .promotion_box1:hover a{
    color: #fff;
    background-color: #AF8D5D;
    transform: translate(0,-100px);
    transition: 0.5s;
    opacity: 0.9;
}
/**************/
@media all and (max-width:1620px){
    #reserve .re_list li {
        /*float: left;
        font-size: 0.9rem;
        text-align: center;
        color: #aaa;*/
        margin: 0 24px;
    }
    /*sec1*/
    #sec1 .title {
        font-size: 1.5rem;
        padding-top: 150px;
    }
    #sec1 span {
        /*height: 2px;
        display: block;
        background-color: #fff;
        margin: 0 auto;*/
        width: 50%;
        margin-top: 100px;
    }
    #sec1 .txt {
        /*margin-top: 30px;*/
        font-size: 0.9rem;
    }
}/*1620*/
@media all and (max-width:1410px){
    #sec1 .title {
        font-size: 1rem;
        padding-top: 120px;
    }
    #sec1 span {
        /*
        display: block;
        background-color: #fff;
        margin: 0 auto;*/
        width: 40%;
        margin-top: 60px;
        height: 1px;
    }
    #sec1 .txt {
        /*margin-top: 30px;*/
        font-size: 0.74rem;
    }
    #sec2 {
        /*background-color: #efefef;
        position: relative;*/
        height: 200px;
        padding: 300px 0;
    }
    #sec2 ul {
        float: none;
        margin: auto;
        width: 80%;
    }
    #sec2 ul > li {
        /*float: left;
        box-sizing: border-box;
        background-color: #ffffff;
        margin-left: 20px;
        position: relative;*/
        width: 280px;
        height: 400px;
    }
    #sec2 ul > li img {
        width: 40px;
        margin: 70px 0 0 40px;
    }
    #sec2 ul > li:nth-child(2) img {
        margin-top: 75px;
    }
    #sec2 ul > li>.title {
        color: #333;
        font-size: 1.5rem;
        margin: 20px 0 0 40px;
        font-weight: 300;
    }
    #sec2 ul > li>.text {
        /*position: absolute;*/
        bottom: 60px;
        font-size: 0.9rem;
        color: #666;
        font-weight: 300;
    }
    #sec2 .petel {
        float: none;
        margin-top: 0px;
        position: absolute;
        top: 65px;
        left: calc(50% - 108px);
        text-align: center;
    }
    #sec2 .petel > .title {
        font-size: 3.4rem;
        /*font-weight: 300;
        color: #333;*/
    }
    #sec2 .petel > .text {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 25px;
    }
}/*1410*/
@media all and (max-width:1180px){
   
    /*sec3*/
    #sec3 {
        margin-top: 100px;
        /*margin-bottom: 60px;*/
    }
}/*1180*/
@media all and (max-width:1169px){
    #reserve .inner{
        width: 900px;
    }
    #reserve .re_list li {
        /*float: left;
        text-align: center;
        color: rgb(170, 170, 170);*/
        margin: 0px 10px;
        font-size: 0.8rem;
    }
    #reserve .re_list li.button input {
        /*background-color: #534039;
        border: none;
        color: #fff;*/
        width: 98px;
        height: 45px;
    }
    /*sec1*/
    #sec1 .title {
        font-size: 0.99rem;
        padding-top: 100px;
    }
    #sec1 span {
        /*width: 40%;
        margin-top: 60px;
        height: 1px;*/
        display: none;
    }
    #sec1 .txt {
        /* margin-top: 30px;
        font-size: 0.74rem;*/
        display: none;
    }
    #sec1 button {
        /*border: 1px solid #fff;
        background-color: transparent;
        color: #fff;
        padding: 5px 10px;
        font-family: 'Noto Sans KR', sans-serif;*/
        margin-top: 150px;
    }
    /*sec2*/
    #sec2 {
        height: 550px;
        padding: 230px 0;
    }
    #sec2 ul {
        /*float: none;
        margin: auto;
        width: 80%;*/
    }
    #sec2 ul > li:first-child {
        margin-left: auto;
    }
    #sec2 ul > li {
        /*box-sizing: border-box;
        background-color: #ffffff;
        position: relative;
        transition: 1s;*/
        float: none;
        width: 70%;
        height: 220px;
        margin: auto;
        margin-bottom: 20px;
    }
    #sec2 ul > li a {
        /*display: block;
        margin-left: 40px;*/
        margin-top: 0px;
    }
    #sec2 ul > li img {
        /*width: 40px;*/
        margin: 20px 0 0 40px;
    }
    #sec2 ul > li>.title {
        /*color: #333;
        font-size: 1.5rem;
        font-weight: 300;*/
        margin: 10px 0 0 40px;
    }
    #sec2 ul > li>.text {
        /* position: absolute;
        font-size: 0.9rem;
        color: #666;
        font-weight: 300;*/
        bottom: 20px;
    }
    #sec2 ul > li:nth-child(2) img {
        margin-top: 20px;
    }
    #sec2 .petel {
        /*float: none;
        margin-top: 0px;
        position: absolute;
        left: calc(50% - 108px);
        text-align: center;*/
        top: 30px;
    }
    #sec2 .btn1 {
        /*color: #333;
        font-size: 1rem;
        font-family: 'Noto Sans KR', sans-serif;
        border-radius: 0;
        border: 1px solid #333;
        position: relative;
        box-sizing: border-box;
        width: 90px;
        height: 37px;
        text-align: center;
        line-height: 37px;
        display: inline-block;
        overflow: hidden;*/
        font-weight: 500;
    }
    /*sec3*/
    #sec3 .package li .package_box {
        /*color: #333;
        background-color: rgba(250,250,250,0.9);
        width: 80%;
        text-align: center;
        position: absolute;
        box-sizing: border-box;
        transition: 0.5s;*/
        padding: 20px;
        left: 30px;
        font-size: 0.8rem;
        height: 85px;
        bottom: -45px;
    }
    #sec3 .package_box span {
        font-size: 0.75rem;
        /*color: #666;
        transition: 0.5s;*/
    }
}/*1169*/
@media all and (max-width:898px){
    #reserve .inner {
        width: 768px;
    }
    #reserve .re_list li {
        margin: 0px 6px;
        font-size: 0.8rem;
    }
    #reserve ul.re_list > li:first-child input {
        width: 120px;
        /*color: #aaa;*/
    }
    #reserve ul.re_list > li:nth-child(2) input, #reserve ul.re_list > li:nth-child(4) input {
        width: 135px;
    }
    #sec1 .title {
        font-size: 0.8rem;
        /*padding-top: 100px;*/
    }
    #sec1 button {
        /*margin-top: 150px;
        border: 1px solid #fff;
        background-color: transparent;
        color: #fff;
        padding: 5px 10px;
        font-family: 'Noto Sans KR', sans-serif;*/
        font-size: 0.7rem;
    }
}/*898*/
@media all and (max-width:851px){
    /*sec2*/
    /*sec3*/
    #sec3 .package li .package_box {
        padding: 20px;
        left: 30px;
        font-size: 0.75rem;
        height: 85px;
        bottom: -45px;
    }
}/*851*/
@media all and (max-width:812px){
        /*sec3*/
        #mo_sec3 {
            /*margin-top: 80px;*/
            display: block;
        }
        #sec3 {
            /*margin-top: 100px;
            margin-bottom: 60px; */
            display: none;
        }
}/*812*/
@media all and (max-width:785px){
    #reserve {
        /*margin-top: 80px;*/
        display: none;
    }
    /*sec1*/
    #sec1{
        /*position: relative;*/
        margin-top: -5px;
    }
    #sec1::after{
        content: '';
        display: block;
        clear: both;
    }
    #sec1 ul.tabs{}
    #sec1 ul.tabs li{
        /*    
        color: #fff;
        box-sizing: border-box;*/
        width: 100%;
        height: 20%;
        float: none;
        border-bottom: 1px solid #fff;
        text-align: left;
        position: absolute;
        top: auto;
        left: 0;   
    }
    #sec1 ul.tabs a{
        /*width: 100%;
        height: 100%;*/
        position: absolute;
        top: 0;
        left: 0;   
    }
    
    #sec1 ul.tabs a.active{
        background-color: rgba(175, 141, 93,0.8);
    }
    #sec1 ul.tabs li:nth-child(1){
        left: 0;
        top: 0;
    }
    #sec1 ul.tabs li:nth-child(2){
        left: 0;
        top: 20%;
    }
    #sec1 ul.tabs li:nth-child(3){
        left: 0;
        top: 40%;
    }
    #sec1 ul.tabs li:nth-child(4){
        left: 0;
        top: 60%;
    }
    #sec1 ul.tabs li:nth-child(5){
        left: 0;
        top: 80%;
        /*border: none;*/
    }
    
    #sec1 .title{
        font-size: 1.5rem;
        padding-top: 15px;
        padding-left: 15px;
    }
    #sec1 button{
        /*border: 1px solid #fff;
        background-color: transparent;
        color: #fff;
        padding: 5px 10px;
        font-family: 'Noto Sans KR', sans-serif;*/
        margin-top: 30px;
        margin-left: 15px;
    }
    #sec1 .padding{
        /*padding: 165px 0;*/
    }
    #sec1 .panel{
        display: none;
    }
    #sec1 .panels img{
        width: 100%;
    }
    /*sec2*/
    #sec2 ul {
        /*float: none;
        margin: auto;*/
        width: 100%;
    }
    #sec2 ul > li img {
        /* width: 40px; */
        margin: 20px 0 0 15px;
    }
    #sec2 ul > li > .title {
        margin: 10px 0px 0px 15px;
    }
    #sec2 ul > li a {
        /*display: block;
        margin-top: 10px;*/
        margin-left: 15px;
    }

}/*785폰*/
@media all and (max-width: 420px){
    #sec1 .title {
        /*
        padding-top: 15px;
        padding-left: 15px;*/
        font-size: 1.2rem;
    }
    #sec1 button {
        margin-top: 9px;
        /*margin-left: 15px;*/
    }
}